

h1 {
 margin-left: 60px;
 margin-top: 50px;
}

.form-connect {
 width : 350px;
 margin: auto;
 display: flex;
 flex-direction: column;
 	
	
}

.id, .pw{
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.id {
  width: 100%;
  margin-top: 60px;

}



.pw {
   width: 100%;
  margin-top: 30px;
	
}

.input-id, .input-pw{
	  border: 2px solid black;
  border-radius: 0px;
}

.box-conn-rem{
	display: flex;
	flex-direction: row;
	justify-content: space-between;	
}

.box-conn {

	width: 40%;
	
}

.box-rem {

	width: 50%;
	display: flex;
	flex-direction: column;
	
}

.conn{
	width: 100%;
	padding: 20px;
  	border: 2px solid black;
  	border-radius: 0px;
  	color: black;
  	background: white;
  	text-decoration: none;
}





.rem-input, .rem-href{
	display: block;
	width: 100%;
}



.crea {
  width: 100%;
  padding: 30px 15px 30px 15px;
  border: 2px solid black;
  border-radius: 0px;
  color: black;
  background: white;
  text-decoration: none;
}